{{! vista que se renderiza en /api/viewsUser/logout}}

<div class="block text-gray-1000 font-bold md:text-center mb-1 md:mb-0 pr-4">
  <h1>Sesion culminada!</h1>
  <h2>Nos vemos pronto...</h2>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/socketio.js"></script>